button,
.btn,
.btn-primary,
form input[type='submit']{
  background-image: none;
  &:hover, &:active, &:focus {
    text-decoration: underline;
  }
}

#esqb_18742,
.fc-button{
  &, &:hover, &:hover:active, &:active, &:focus, &:active:focus {
    background-color: $nyu_purple !important;
    color: white !important;
  }
}

//standardize purple buttons
.btn.btn-primary, a.btn.btn-primary, a.s-lc-item-more-info {
  background-color: $nyu_purple;
  border-color: $nyu_purple;
}

//fix colors for "info" buttons to reveal focus styles
a.s-lc-item-more-info {
  border-radius: 2px;

  span.s-lc-info-label {
    background-color: transparent;
  }
}
