#s-lc-public-footer {
  background-color: $text_black;
  border-top: none;
  margin: auto;
  font-size: 100%;
  color: $text_footer_gray;
  padding: 45px 0 0 0;
  line-height: 1.75;
}

#s-lc-public-footer-print-link,
#s-lc-public-footer-admin-links,
#s-lc-public-footer-brand,
#s-lc-footer-support-link,
#s-lc-language,
.public-footer-container {
  a {
      color: $text_footer_dark_gray;
      text-decoration: underline;
      &:hover {
          color: $text_footer_white;
      }
  }
  select {
      color: $text_black;
  }
  select option {
      color: $text_black;
  }
}

#s-lc-language {
  padding: 7px 0px 10px 0px;
}

#s-lc-public-cust-footer {
  width: max-content;
  margin: auto;
  @media only screen and (max-width: $bp_footer_mobile){
    margin-left: 1em;
    padding-left: 1.07em;
  }
}

@media only screen and (max-width: 830px){
  footer {
    width: 87vw;
  }
}

.public-footer-container {
  background-color: $text_black;
  text-align: center;
  padding-bottom: 45px;

  @media only screen and (max-width: $bp_footer){
    width: 87vw;
  }

  @media only screen and (min-width: $bp_footer_small){
    width: 720px;
  }
  
  @media only screen and (min-width: $bp_footer_medium){
    width: 940px;
  }
  
  @media only screen and (min-width: $bp_footer_full){
    width: 1140px;
  }
}


