@import 'legacy';
@import 'variables';
@import 'colors';
@import 'mixins';
@import 'footer';

body {
	padding-left: 0;
	padding-right: 0;
	font-family: $family_gotham;
	font-size: $font_size_base;
}

@include max-width($bp_small_page_heading){
  .container {
    margin: 0 1em;
  }
}

.heading{
  @include antialias;
  font-family: $family_gotham;
}

h1, h2, h3, h4 {
	@extend .heading;
}
