@import 'legacy';
@import 'variables';
@import 'colors';
@import 'mixins';
@import 'focus_a11y';
@import 'header';
@import 'footer';
@import 'skip_link';
@import 'breadcrumb';
@import 'buttons';

body {
	padding-left: 0;
	padding-right: 0;
	font-family: $family_gotham;
  font-size: $font_size_base;
  .container {
    padding: 0px 15px 0px 15px;
  }
}

@include max-width($bp_small_page_heading){
  .container {
    margin: 0 1em;
  }
  .fc table{
    font-size: $font_size_small;
  }
  #s-lc-eq-navform{
    padding-bottom: 5px;
  }
}

.heading{
  @include antialias;
  font-family: $family_gotham;
}

h1, h2, h3, h4 {
	@extend .heading;
}

h1#s-lc-public-header-title,
h1{
  font-family: $family_gotham_narrow;
  font-size: 36px;
  font-weight: $weight_light;
  small {
    color: $text_title_black;
  }
}

#equip_ .fc-toolbar.fc-header-toolbar h2,
#equip_ .fc-left h2,
.fc-toolbar h2,
.s-lc-content-cal .fc-center h2,
h2{
  font-size: $font_size_large;
  color: $text_dark_gray;
  padding-top: 10px;
}


h3, h4{
  font-size: $font_size_medium;

  @include max-width($bp_mobile_body){
    font-size: $font_size_base;
  }
}

a {
	color: $text_blue;
	&:hover {
		color: $text_blue;
	}
}

//centering h1
.s-lc-header{
  padding: 10px 10px 10px 0;
}

//centering date h2 in page using padding
#equip_ .fc-toolbar.fc-header-toolbar h2, 
#equip_ .fc-left h2{
  padding: 0px 0px 30px 0px;
}

//availability current time indicator styles
.fc .fc-timeline-now-indicator-line {
    margin: 0 -1px;
    bottom: 0;
    border-width: 0 0 0 3px;
}

.fc .fc-timeline-now-indicator-arrow, .fc .fc-timeline-now-indicator-line {
    position: absolute;
    top: 0;
    border-style: solid;
    border-color: #000
}

.fc .fc-timeline-now-indicator-arrow {
    margin: 0 -6px;
    border-width: 7px 6px 0 6px;
    border-left-color: transparent;
    border-right-color: transparent;
}
